h1{
	text-align: center;
}
body {
	background-color: #D6EBF2;
}
button {
	width: 150px;
}
button:focus {
	background-color: #555555;
}
.subjectText {
	font-size: 12px;
	display: block;
	padding: 6px;
}
.bodyText {
	padding: 20px;
}
.bodyTextN {
	padding: 10px;
}
.mainText {
	padding-bottom: 18px;
	padding-top: 5px;
	border: 4px;
	border-color: grey;
}
.container {
	padding: 20px;
	height: 20px;
	width: 190px;
	border-style: solid;
	border-color: black;
	background-color: #D3D3D3;
	position: fixed;
	right: 25px;
	font-size: 21px;
}
.mainDiv {
	padding-top: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 500px;
	background-color: white;
}
#settCanv{
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
#prepCanv{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 20px;
	height: 20px;
}
#setInput{
	width: 90px;
	height: 15px;
}