button {
	width: 150px;
}
button:focus {
	background-color: #555555;
}
.subjectText {
	font-size: 12px;
	max-width: 400px;
	display: block;
	padding: 6px;
}
.bodyText {
	padding: 20px;
}
.bodyTextN {
	padding: 10px;
}
.mainText {
	padding-bottom: 18px;
	padding-top: 5px;
	border: 4px;
	border-color: grey;
}
.container {
	padding: 20px;
	
}
.mainDiv {
	padding-top: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 500px;
}